<!DOCTYPE html>
<html lang="en">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link href="https://fonts.googleapis.com/css2?family=Blaka&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body onload="openPopup(document.getElementById('popout1'))">
    <div class="popout" id="popout1">
        <h2>Enter nickname: </h2>
        <label>
            <input type="text" id="input1" placeholder="Nickname" name="username">
        </label>
        <p>Choose snake color:</p>
        <label for="snake_color"></label><select name="snake_color" id="snake_color">
          <option style="background-color: green" value="green">green</option>
          <option style="background-color: red" value="red">red</option>
          <option style="background-color: blue" value="blue">blue</option>
          <option style="background-color: white" value="white">white</option>
        </select>
        <button type="button" id="start_button" onclick="closePopup(document.getElementById('popout1'))" >Start Game</button>
    </div>
    <a href="/"> <div id="logo">Snake Game</div></a>
    <div id="statistics">
    <div id="Score">Score: 0</div>
    <div id="timer"><label id="minutes">00</label>:<label id="seconds">00</label></div>
    </div>
    <div class="popout" id="popout">
            <h2>You Lost!</h2>
            <p id="endScore">Score:</p>
            <button type="button" onclick="closePopup(document.getElementById('popout'))">Main Menu</button>
    </div>
    <div id="game_board">
    </div>


<script src="../static/game.js"></script>
</body>
</html>
